/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
    -fx-border-width : 0 0 0 5; 
    -fx-border-color : #05071F;
}

.button:hover
{
    -fx-background-color : #10165F;
}

.button:pressed
{
    -fx-background-color : #1620A1;
}

.Product-Box 
{
    -fx-hgap: 5px;
    -fx-padding: 0px;
    -fx-margin: 10;
    
    -fx-background-radius: 10px;
    -fx-effect: dropshadow( gaussian , #9B59B6 , 7,0,0,1 ); 
}

.Product-Box-Image
{
    -fx-arc-height: 15;
    -fx-arc-width: 15;
}

.Product-Box-Button 
{
    -fx-background-color :  #02030A;
    -fx-border-width : 0;
    -fx-cursor: hand;
}

.Product-Box-Button:hover
{
    -fx-background-color : #02030A;
}

.Product-Box-Button:pressed
{
    -fx-background-color : #02030A;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.textField {
    -fx-text-fill: #CCCCCC;
}

.ButtonAddProduct {
    -fx-background-color: #10165F;
    -fx-background-radius: 2em; 
    -fx-border-width : 0;
}